.frame {
  max-width: 95%;
  margin: 50px auto 250px auto;
  padding: 1%;
}

table {
  width: 100%;
}

.mdc-data-table__cell {
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

.delButton {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 11px 11px;
  font-size: 0;
  cursor: pointer;
  border-radius: 50%;
}
